@-moz-document url-prefix("http://127.0.0.1:8090/gui/"), url-prefix("http://localhost:8090/gui/"), url-prefix("/*[[webui]]*/") {
/* Dark Mode for µTorrent WebUI
* Designed by: Soitora
* Created: 2018-03-03
* Updated: 2018-03-16
* Version: 1.1a
* Licence: GNU General Public License v3 (GPL-3).
*/

body {
	background-color: #1e1e1e !important;
}

#CatList {
	background-color: #191919 !important;
}

#mainTorList .stable-body {
	background-color: #191919 !important;
}

.stable-body {
	background-color: #191919 !important;
}

#CatList li {
	border-color: transparent !important;
	color: #878C88 !important;
	text-transform: uppercase !important;
	line-height: 2em !important;
}

#CatList li:hover {
	color: #1E1E1E !important;
}

div#CatList ul li.sel {
	background-color: #1E1E1E !important;
	color: #191919 !important;
	font-weight: bold !important;
}

#FileList, .stable-head, .stable-head * {
	background: #1E1E1E !important;
	border-color: #1E1E1E !important;
	color: #8A8A8A !important;
}

.stable-body TD {
	background-color: #191919 !important;
	border-color: #1E1E1E !important;
	height: auto !important;
	font: 15px/17px Arial !important;
	color: #8A8A8A !important;
}

.stable-body TD.stable-icon {
	color: #bbbbbb !important;
}

.stable-body tr.selected td, .stable-body tr:hover td {
	color: #FFFFF1 !important;
}

.stable-pagemenu {
	background-color: #191919 !important;
	color: #878C88 !important;
}

.stable-pagemenu {
	border-bottom: 10px solid #EDD43F !important;
}

.pagestat SELECT {
	background-color: #3A659E !important;
	border-color: #7B7472 !important;
}

#HDivider, #VDivider {
	background-color: #404A57 !important;
}

#mainCatList li.sel {
	background-color: #393939;
	color: #fff;
}

div#tdetails {
	background-color: #404A57 !important;
	color: #61B3CC !important;
	font-family: Corbel !important;
}

div#tdcont {
	background-color: #1E1E1E !important;
	border-color: #1E1E1E !important;
}

div#gcont, div#lcont {
	background-color: #191919 !important;
	border-color: #404A57 !important;
}

UL#tabs LI A {
	background-color: #7B7472 !important;
	color: #191919 !important;
	border-color: #1E1E1E !important;
	border-bottom: 0 !important;
	font-size: 12px !important;
}

UL#tabs LI A:HOVER {
	color: #9AC8D0 !important;
}

UL#tabs LI.selected A {
	background-color: #730716 !important;
	color: #9AC8D0 !important;
	border-color: #FFFFF1 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}

#GN_TRANSFER {
	background-color: #191919 !important;
	color: #8A8A8A !important;
	border-color: #7B7472 !important;
	text-transform: uppercase !important;
	font-size: 1.3em !important;
}

#dettable LABEL {
	font-size: 14px !important;
	color: #6F6A78 !important;
	width: 120px !important;
}

#dettable td span {
	color: #36B2CC !important;
	font-size: 14px !important;
}

#FileList TD[class*="stable-FileList-col"] {
	font: 16px/1.3em Arial !important;
}

.stable-loading {
	background: #191919 !important;
}

.stable-progress {
	background: #1E1E1E;
	border: 0px solid #1E1E1E;
	color: #8A8A8A !important;
}

#mainCatList, #mainInfoPane, #mainInfoPane-generalTab, #mainInfoPane-loggerTab, #mainInfoPane-content, #mainInfoPane-speedTab {
	background-color: #191919 !important;
	color: #FFFFFF !important;
	border-color: transparent !important;
}

#mainInfoPane-generalTab td.header {
	border: 0px !important;
}

#mainCatList ul li {
	border-color: #191919 !important;
}

#modalbg {
	opacity: 0.1 !important;
}

#mainToolbar {
	background: #191919 !important;
	background-color: #191919 !important;
	border-bottom: 1px solid #1E1E1E;
}

#mainToolbar-searchbar>* {
	border: 1px solid #1e1e1e;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	float: left;
	margin: 0 !important;
}

#mainToolbar-searchbar #search {
	background: #1e1e1e url("https://i.imgur.com/eXsJgGt.png") no-repeat center center;
	border-width: 1px 0;
	height: 20px;
	width: 20px;
}

#mainToolbar-searchbar #searchsel {
	background: #1e1e1e url("https://i.imgur.com/vGG4e3z.png") no-repeat -2px 3px;
	height: 20px;
	width: 10px;
}

#mainToolbar-searchbar #query {
	background: #1e1e1e;
	color: #A8A8A8;
}

.folder-tabs .selected>a {
	background-color: #FFF !important;
	border: 1px solid #1e1e1e;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #1e1e1e;
	border-bottom-color: #191919;
	border-bottom: 1px solid #191919;
	border-top: 2px solid #09F;
}

.folder-tabs li>a {
	background-color: #DDD;
	border: 1px solid #1e1e1e;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #191919;
	border-bottom: 1px solid #191919;
	color: #3B3B3B;
}

.stable-infobar {
	background: #191919 !important;
	background-color: #191919 !important;
}

#GN_GENERAL {
	background-color: #191919 !important;
	color: #8A8A8A !important;
	text-transform: uppercase !important;
	font-size: 1.3em !important;
}

#mainStatusBar {
	background: #1e1e1e !important;
	background-color: #1e1e1e !important;
	border-top: 1px solid #1E1E1E;
}

#mainStatusBar-menu {
	background: transparent url("https://i.imgur.com/DIkyUFs.png") no-repeat center center;
	float: left;
	height: 100%;
	min-height: 16px;
	opacity: .50;
	width: 16px;
	background-size: 100% 100%;
}

.filterbar-query {
	/* not working */
	background: #191919 !important;
	background-color: #191919 !important;
}

#tab_mainInfoPane-generalTab a {
	color: #FFFFFF !important;
	background: #191919 !important;
	background-color: #191919 !important;
}

#tab_mainInfoPane-peersTab a {
	color: #FFFFFF !important;
	background: #191919 !important;
	background-color: #191919 !important;
}

#tab_mainInfoPane-filesTab a {
	color: #FFFFFF !important;
	background: #191919 !important;
	background-color: #191919 !important;
}

#tab_mainInfoPane-speedTab a {
	color: #FFFFFF !important;
	background: #191919 !important;
	background-color: #191919 !important;
}

#tab_mainInfoPane-loggerTab a {
	color: #FFFFFF !important;
	background: #191919 !important;
	background-color: #191919 !important;
}

.stable-body tr {
	background-color: #191919 !important;
	color: #FFFFFF !important;
}

.stable {
	border: 1px solid #1E1E1E;
}

#mainStatusBar-download, #mainStatusBar-upload {
	color: #FFFFFF !important;
}

/* ICONS
   ————————————————————————————————————————————————————————— */

#mainToolbar a.tbbutton.disabled {
	opacity: .22;
}

#mainToolbar .separator {
	background-color: #3a3a3a;
}

#mainToolbar a.tbbutton#add {
	/*	background-position: 0%; */
	background-size: 1200% 100%;
}

#mainToolbar a.tbbutton#addurl {
	/*	background-position: 8.3%; */
	background-size: 1200% 100%;
}

#mainToolbar a.tbbutton#remove {
	/*	background-position: 25%; */
	background-size: 1200% 100%;
}

#mainToolbar a.tbbutton#start {
	/*	background-position: 33.3%; */
	background-size: 1200% 100%;
}

#mainToolbar a.tbbutton#pause {
	/*	background-position: 41.6%; */
	background-size: 1200% 100%;
}

#mainToolbar a.tbbutton#stop {
	/*	background-position: 50%; */
	background-size: 1200% 100%;
}

#mainToolbar a.tbbutton#queueup {
	/*	background-position: 58.3%; */
	background-size: 1200% 100%;
}

#mainToolbar a.tbbutton#queuedown {
	/*	background-position: 66.6%; */
	background-size: 1200% 100%;
}

#mainToolbar a.tbbutton#rssdownloader {
	/*	background-position: 83.3%; */
	background-size: 1200% 100%;
}

#mainToolbar a.tbbutton#setting {
	/*	background-position: 91.6%; */
	background-size: 1200% 100%;
}

.Status_Down .icon {
	/*	background-position: 0% 0%!important; */
	background-size: 100% 1900%!important;
}

.Status_Up .icon {
	/*	background-position: 0% 5.2%!important; */
	background-size: 100% 1900%!important;
}

.Status_Checking .icon, .Status_Incomplete .icon {
	/*	background-position: 0% 10.5%!important; */
	background-size: 100% 1900%!important;
}

.Status_Paused .icon {
	/*	background-position: 0% 15.7%!important;*/
	background-size: 100% 1900%!important;
}

.Status_Error_Down .icon {
	/*	background-position: 0% 21.0%!important; */
	background-size: 100% 1900%!important;
}

.Status_Error_Up .icon {
	/*	background-position: 0% 26.3%!important; */
	background-size: 100% 1900%!important;
}

.Status_Error .icon {
	/*	background-position: 0% 31.5%!important; */
	background-size: 100% 1900%!important;
}

.Status_Completed .icon {
	/*	background-position: 0% 36.8%!important; */
	background-size: 100% 1900%!important;
}

.Status_Queued_Down .icon {
	/*	background-position: 0% 42.1%!important; */
	background-size: 100% 1900%!important;
}

.Status_Queued_Up .icon {
	/*	background-position: 0% 47.3%!important; */
	background-size: 100% 1900%!important;
}

#cat_all .icon {
	/*	background-position: 0% 57.8%!important; */
	background-size: 100% 1900%!important;
}

#cat_com .icon {
	/*	background-position: 0% 5.2%!important; */
	background-position: 0 -112px !important;
	background-size: 100% 1900%!important;
}

#cat_act .icon {
	/*	background-position: 0% 52.6%!important; */
	background-size: 100% 1900%!important;
}

#cat_iac .icon {
	/*	background-position: 0% 63.1%!important; */
	background-size: 100% 1900%!important;
}

#mainToolbar a.tbbutton {
	background: transparent url("https://i.imgur.com/BMi41yz.png") no-repeat 0 top;
	background-size: 1200% 100%;
	cursor: pointer;
	display: block;
	float: left;
	height: 24px;
	margin: 3px 4px;
	opacity: .80;
	width: 24px;
}

#mainCatList li .icon {
	background: transparent url("https://i.imgur.com/poEZ7hj.png") no-repeat;
	background-size: 100% 1900%!important;
	margin: -8px 3px;
	padding: 8px;
	position: absolute;
	top: 50%;
}

#mainTorList .icon {
	background: transparent url("https://i.imgur.com/poEZ7hj.png") no-repeat 0% 0%;
	background-size: 100% 1900%!important;
}

#dlgRSSDownloader-feeds li .icon {
	background-size: 100% 1900%!important;
	margin: -8px 3px;
	padding: 8px;
	position: absolute;
	top: 50%;
}

#dlgRSSDownloader-feeds li.disabled .icon {
	background-size: 100% 1900%!important;
}

.RSS_New .icon {
	background-size: 100% 1900%!important;
}

.RSS_Old .icon {
	background-size: 100% 1900%!important;
}

.RSS_Added .icon {
	background-size: 100% 1900%!important;
}

input.btn {
	background: #F0F0F0 url("https://i.imgur.com/IYplvhA.png") repeat center top;
	border: 1px solid #A0A0A0;
}

input.btn:hover {
	border: 1px solid #09F;
}

/* PREFERENCES WINDOW
   ————————————————————————————————————————————————————————— */

.CMenu {
	background: #F8F8F8;
	border: 1px solid #1e1e1e;
	box-shadow: 2px 2px 2px #0000004d, 0 0 4px #0003;
	display: none;
	overflow-y: hidden;
	position: fixed;
	z-index: 100000;
}

.CMenu ul {
	background-color: #1e1e1e;
	list-style: none;
	padding: 2px;
	position: relative;
}

.CMenu a.exp {
	background: #de454500 url("https://i.imgur.com/arqFDEO.png") no-repeat scroll 0 center;
}

.CMenu a.check {
	background: transparent url("https://i.imgur.com/f6zO5AM.png") no-repeat scroll 5px center;
	background-color: transparent;
}

.CMenu a {
	color: #909090;
	display: block;
	font-weight: normal;
	padding: 2px 26px 2px 18px;
}

.CMenu li:hover>a {
	background-color: #09F;
	color: #FFF;
}

.CMenu a.dis {
	background-color: #1e1e1e !important;
	color: #424242 !important;
}

.dlg-top .dlg-head {
	background-color: #191919;
	border-color: #989898;
	color: #909090;
}

.dlg-head {
	background: #F5F5F5 url("https://i.imgur.com/kqMx1Lf.gif") no-repeat .3em .3em;
	background-color: #f5f5f5;
	background-image: url("https://i.imgur.com/kqMx1Lf.gif");
	border-bottom: 1px solid #C0C0C0;
	border-bottom-color: #c0c0c0;
	border-radius: 4px 4px 0 0;
	color: #A0A0A0;
	font-weight: bold;
	height: 1.2em;
	left: 0;
	line-height: 1.2em;
	overflow: hidden;
	padding: .3em 22px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.dlg-top {
	border-color: #1e1e1e;
	box-shadow: 5px 3px 5px #0000004d, 0 0 8px #0003;
}

.dlg-window {
	background-color: #1e1e1e;
	border: 1px solid #1e1e1e;
	border-radius: 5px 5px 0 0;
	box-shadow: 3px 3px 3px #0003, 0 0 6px #0000001a;
	color: #909090;
}

.dlg-foot {
	background: #191919;
	border-top: 1px solid #191919;
	bottom: 0;
	height: 1.5em;
	left: 0;
	padding: .3em;
	position: absolute;
	right: 0;
	text-align: right;
	white-space: nowrap;
}

#dlgSettings-menuCont {
	background-color: #191919;
	border-right: 1px solid #1e1e1e;
	bottom: 0;
	display: block !important;
	left: 0;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 120px;
}

#dlgRSSDownloader-content {
	background: #191919;
	border: 1px solid #1e1e1e;
	height: 350px;
	padding: 3px;
	position: relative;
}

#dlgRSSDownloader-feedsMenu, #dlgRSSDownloader-filtersMenu {
	background-color: #191919;
	border: 1px solid #1e1e1e;
	bottom: 3px;
	left: 3px;
	overflow: auto;
	position: absolute;
	top: 3px;
	width: 150px;
}

#dlgRSSDownloader-feedItemList, #dlgRSSDownloader-filterSettings {
	background-color: #1e1e1e;
	bottom: 3px;
	left: 158px;
	margin: 0;
	position: absolute;
	right: 3px;
	top: 3px;
}

#dlgRSSDownloader-feedItemList, #dlgRSSDownloader-filterSettings:disabled {
	bottom: 3px;
	left: 158px;
	margin: 0;
	position: absolute;
	right: 3px;
	top: 3px;
}

fieldset legend {
	color: #909090;
	font-weight: bold;
	padding: 0 3px 3px 3px;
}

label, div[id*='DLG_SETTINGS'], li[id*='rssfeed'], li[id*='rssfilter'], #total_uploaded_history, #total_downloaded_history, #total_updown_history, #history_period {
	color: #909090;
}
}
